
@mixin roundy($radius-one, $radius-two, $color) {
	border-radius: $radius-one;
 	border-top-right-radius: $radius-two;
 	border-bottom-left-radius: $radius-two;
 	a {
 		color: $color;
 	}
}

.box {
  @include roundy(4px, 8px, blue);
}

// A whole bunch of other code
.button {
  @include roundy(2px, 4px, red);
  background: #345;
}