body {
	background: #eee;
}

.blog {
	> h1 {
		color: red;
		border: 1px solid red;
	}
	.entry {
		h1 {
			font-size: 21px;
			color: blue;
		}
		p {
			font-size: 12px;
		}
		a {
		color: red;
		&:hover {
			color: blue;
			}
		}
	}
}